<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAssignmentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52400/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAssignmentService"
                contract="ServiceReference1.IAssignmentService" name="BasicHttpBinding_IAssignmentService" />
        </client>
    </system.serviceModel>
</configuration>